<!--Load the font icons package:-->
<link rel="stylesheet" href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css"/>

<kendo-appbar position="top" id="#sb-appBar" themeColor="dark">
  <kendo-appbar-spacer width="5px"></kendo-appbar-spacer>
  <kendo-appbar-section>
    <a class="title" [routerLink]="['/']"><h1>StoryBook</h1></a>
  </kendo-appbar-section>
  <kendo-appbar-spacer width="20%"></kendo-appbar-spacer>
  <label><span class="k-icon k-icon-lg k-font-icon k-i-zoom k-i-search"></span></label>
  <kendo-appbar-section>
    <kendo-textbox formControlName="searchBox" placeholder="Search..." #searchBox></kendo-textbox>
  </kendo-appbar-section>
  <kendo-appbar-spacer></kendo-appbar-spacer>
</kendo-appbar>

<div class="content">
  <router-outlet></router-outlet>
</div>