/*
.k-appbar-light {
  background: rgb(246,248,252);
  background: linear-gradient(45deg, rgba(246,248,252,1) 0%, rgba(186,203,233,1) 32%, rgba(30,187,224,1) 100%);
  
}
*/
.content{
  margin-left: 10px;
}

.title {
  font-family: 'Playfair Display', 'Times New Roman', 'serif';
  font-weight: lighter;
}