<div class="detail-content">
    <div class="character-detail-header">
        <kendo-avatar *ngIf="character.photo"
                  width="280px"
                  height="280px"
                  [imageSrc]="'../../assets/characterImages/' + character.photo"
                  shape="circle"
                >
        </kendo-avatar>
        <kendo-avatar *ngIf="!character.photo"
                  width="280px"
                  height="280px"
                  [imageSrc]="'../../assets/characterImages/' + noImageSrc"
                  shape="circle"
                >
        </kendo-avatar>
        <h1>{{character.name}}</h1>
    </div>
    <h1>Basic Facts:</h1>
    <div class="fact-list-element">
        <div class="fact-list-key">
            <p>Age</p>
        </div>
        <div class="fact-list-value">
            <p>{{character.age}}</p>
        </div>
    </div>
    <div class="fact-list-element">
        <div class="fact-list-key">
            <p>Eye Color</p>
        </div>
        <div class="fact-list-value">
            <p>{{character.eyeColor}}</p>
        </div>
    </div>
    <div class="fact-list-element">
        <div class="fact-list-key">
            <p>Species</p>
        </div>
        <div class="fact-list-value">
            <p>{{character.species}}</p>
        </div>
    </div>

    <div class="character-detail-footer">
        <div class="notes-section">
            <h1>Notes:</h1>
            <ng-container *ngIf="character.notes != null && character.notes.length == 0">
                <p>There are no notes to show.</p>
            </ng-container>
            <ng-container *ngIf="character.notes">
                <app-note-list [noteList]="character.notes"></app-note-list>
            </ng-container>    
        </div>
    
        <div class="pinterest-section">
            <h1>Pinterest Board:</h1>
            <p>There is no Pinterest board linked yet.</p>
            <!--<kendo-avatar
                  width="280px"
                  height="280px"
                  [imageSrc]="thumbnailSrc"
                  shape="square"
                >
            </kendo-avatar>-->
        </div>
    </div>
</div>

