<div class="detail-content">
    <div class="character-detail-header">
        <kendo-avatar
                  width="280px"
                  height="280px"
                  [imageSrc]="thumbnailSrc"
                  shape="circle"
                >
        </kendo-avatar>
        <h1>{{character.name}}</h1>
    </div>
    <h1>Basic Facts:</h1>
    <div class="fact-list-element">
        <div class="fact-list-key">
            <p>Age</p>
        </div>
        <div class="fact-list-value">
            <p>{{character.age}}</p>
        </div>
    </div>
    <div class="fact-list-element">
        <div class="fact-list-key">
            <p>Eye Color</p>
        </div>
        <div class="fact-list-value">
            <p>{{character.eyeColor}}</p>
        </div>
    </div>
    <div class="fact-list-element">
        <div class="fact-list-key">
            <p>Species</p>
        </div>
        <div class="fact-list-value">
            <p>{{character.species}}</p>
        </div>
    </div>

    <div class="character-detail-footer">
        <div class="notes-section">
            <h1>Notes:</h1>
            <p>There are no notes to show.</p>
        </div>
    
        <div class="pinterest-section">
            <h1>Pinterest Board:</h1>
            <p>There is no Pinterest board linked yet.</p>
            <!--<kendo-avatar
                  width="280px"
                  height="280px"
                  [imageSrc]="thumbnailSrc"
                  shape="square"
                >
            </kendo-avatar>-->
        </div>
    </div>
</div>

